// variables ------------------------
@import "variables";

/* ------------------------------------------------------ */
/* standard data table */
/* ------------------------------------------------------ */

table {
    margin: 1em 0 0;
    th, td {
        padding: 0.75em 1.5em;
    }
    th {
        background-color: $tableThBgColour;
        border: 1px solid $tableBorderColour;
        border-right: none;
        font-weight: bold;
    }
    tr th:last-child {
        border-right: 1px solid $tableBorderColour;
    }
    td {
        border-left: 1px solid $tableBorderColour;
    }
    tr td:last-child {
        border-right: 1px solid $tableBorderColour;
    }
    tr:last-child td {
        border-bottom: 1px solid $tableBorderColour;
    }
    .odd td {
        background-color: $tableOddBgColour;
    }
    tr:hover td {
        background-color: $tableRowHoverBgColour;
    }
}

/* ------------------------------------------------------ */
/* buttons */
/* ------------------------------------------------------ */

a.button, button.button {
    background: #eee url(../images/bg_buttons.png) repeat-y 50% 0;
    border: 1px solid #f5f5f5;
    display: block;
    font-weight: bold;
    padding: 8px 20px 6px;
    text-decoration: none;
    @include roundedCorners(4px);
    @include boxShadow(2px,2px,6px,#666);
}

a.button:hover, button.button:hover {
    background: #fff none;
    border: 1px solid #eee;
}
