#main {
    .container {
        max-width: 1080px;
        padding:  0 1.5em;
    }
}

#mainContentContainer {
    -moz-column-count: 2;
    -moz-column-gap: 3em;
    -moz-column-rule: none;
    -webkit-column-count: 2;
    -webkit-column-gap: 3em;
    -webkit-column-rule: none;
    column-count: 2;
    column-gap: 3em;
    column-rule: none;
}

#mainContentContainer.singleColumn {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -moz-column-rule: none;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -webkit-column-rule: none;
    column-count: 1;
    column-gap: 0;
    column-rule: none;
}
