/*
FOR CUSTOM STUFF
*/

.container {
    margin:  0 auto;
}

#siteBanner {
    background: #f5f5f5 url(../img/bg_pocket.png) no-repeat 50% 50%;
    border-bottom:  1px solid #ccc;
    padding:  1em 1em 3.5em;
    text-align: center;
    h1 {
        font-size: 4em;
    }
}

#mainMenu {
    padding-top: 1.5em;
    ul {
        font-size: 1.1em;
        @include noBullets;
        a {
            display: block;
            padding:  0.25em 1em;
        }
    }
}

#main {
    margin:  0 auto;
    padding:  2em 0.5em 4em;
    h1, h2 {
        border-bottom:  1px solid #ccc;
    }
    ul {
        margin-top: 1em;
        li {
            margin-bottom: 0.25em;
        }
        ul {
            margin-bottom: 0.5em;
            margin-top: 0;
        }
    }
}

#siteFooter {
    .container {
        border-top:  2px solid #ccc;
        padding:  1em 0 2em;
        text-align: center;
    }
}

/* table of contents */
.toc {
    list-style-type: none;
    margin:  1em 0 0;
    li {
        font-weight: bold;
        a {
            font-weight: normal;
        }
    }
}


