$mainBgColour: #fff;
$mainTextColour: #444;
$mainSelectionBgColour: #FF5E99;
$mainSelectionTextColour: #fff;
$keylineColour: #ccc;
$mainLinkColour: #607890;
$mainLinkHoverColour: #036;

$errorBackgroundColour: #f0dddd;

$tableBorderColour: #ccc;
$tableThBgColour: #ddd;
$tableOddBgColour: #eee;
$tableRowHoverBgColour: #f5f5f5;
